doctype html
html
  head
    title Página Web
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../public/style.css')
    link(rel='stylesheet', href='../public/picnic.min.css')
    link(rel='stylesheet', type='text/css', href='../public/font-awesome.min.css')
  body
    block content